<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Eden360</name>
    <description>
        Eden360 Application
    </description>
    <author email="info@2209inc.com" href="http://edenconnects.com">
        2209 Inc
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="moca_app_key" value="2G0cuJ2_RPO_a5Wd-n6BTQ" />
    <preference name="moca_app_secret" value="HDIp8IYGmIjcDjRYj6IFv5s0E8E=" />
    <preference name="gcm_sender" value="\ YOUR_GCM_SENDER" />
    
    <icon src="icon.png" />
   
    <platform name="ios">
    	<icon src="www/images/icon.png"  gap:platform="ios" width="180" height="180" />
    </platform>
    
    <platform name="android">
        <preference name="android-minSdkVersion" value="14" />
        <preference name="android-targetSdkVersion" value="23" />
    </platform>
    
    <engine name="ios" spec="~4.4.0" />
    <plugin name="com.innoquant.moca.phonegap" spec="https://github.com/mocaplatform/moca-phonegap-sdk.git#:/MOCASDK" />
</widget>
