*::-webkit-scrollbar { 
    display: none; 
}

.header-fixed{
    z-index:999999;
    height:60px;
    position:fixed;
    top:5px;
    left:0px;
    right:0px;
}

.header-logo{
    background-image:url(../images/logo_light.png);
    background-size:98px 41px;
    width:98px;
    height:41px;
    margin-top:20px;
    margin-left:20px;
}

.header-icon-1{
    position:fixed;
    top:5px;
    right:0px;
    width:60px;
    height:60px;
    line-height:60px;
    color:#FFFFFF;
    text-align:center;
    font-size:18px;
}

.header-icon-2{
    position:fixed;
    top:5px;
    right:60px;
    width:60px;
    height:60px;
    line-height:60px;
    color:#FFFFFF;
    text-align:center;
    font-size:16px;
}

#page-content{
    margin-top:65px;
}

.circle-menu{
    z-index:9999999;
    position:fixed;
    right:10px;
    bottom:205px;
}

.circle-menu-show{
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    float:right;
    z-index:99999;
    border-radius:50px;
    color:#FFFFFF;
    border:solid 1px rgba(255,255,255,0.1);
    transition:all 250ms ease;
}

.circle-menu-border{
    border:solid 1px rgba(255,255,255,0.3);
    transition:all 250ms ease;
}

.circle-menu-background{
    height:50px;
    width:50px;
    border-radius:100%;
    transition:all 250ms ease;
    pointer-events:none;
}

.active-menu-item i{
    background-color:#FFFFFF!important;
}

.active-circle-menu-background{
    transform:scale(4.5, 4.5);
    transition:all 250ms ease;
}

.circle-menu-show em{
    width:15px;
    height:2px;
    position:absolute;   
    transition:all 250ms ease;
}

.circle-menu-show .line-1{
    background-color:#FFFFFF;
    margin-left:-7px;
    margin-top:18px;
}

.circle-menu-show .line-2{
    background-color:#FFFFFF;
    margin-left:-7px;
    margin-top:23px;
}

.circle-menu-show .line-3{
    background-color:#FFFFFF;
    margin-left:-7px;
    margin-top:28px;
}

.active-line-1{
    transform:rotate(45deg) translateY(4px) translateX(3px);
    transition:all 250ms ease;
}

.active-line-2{
    opacity:0;
    transition:all 250ms ease;
}

.active-line-3{
    transform:rotate(-45deg) translateY(-4px) translateX(3px);
    transition:all 250ms ease;
}

.circle-icon:hover{
    background-color:rgba(255,255,255,0.3)!important;
}

.circle-menu-show:hover{
    background-color:rgba(255,255,255,0.3)!important;
}

.circle-menu .circle-icon{
    position:absolute;
    z-index:99999;
    color:#FFFFFF;
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    border-radius:40px;
    border:solid 1px rgba(255,255,255,0.3);
    pointer-events:none;
}

.circle-icon-1{
    margin-top:-70px;
    margin-left:5px;
    opacity:0;
    transition:all 150ms ease;
}

.circle-icon-2{
    margin-top:-48px;
    margin-left:-48px;
    opacity:0;
    transition:all 150ms ease;
}

.circle-icon-3{
    margin-top:5px;
    margin-left:-70px;
    opacity:0;
    transition:all 150ms ease;
}

.circle-icon-4{
    margin-top:58px;
    margin-left:-48px;
    opacity:0;
    transition:all 150ms ease;
}

.circle-icon-5{
    margin-top:80px;
    margin-left:5px;
    opacity:0;
    transition:all 150ms ease;
}

.show-circle-icons{
    opacity:1;
    transition-delay:100ms!important;
    -webkit-transition-delay:100ms!important;
    transition:all 250ms ease;
    pointer-events:all!important;
}

.page-menu-background{
    position:fixed;
    z-index:999999;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color:rgba(255,255,255,0.9);
    opacity:0;
    pointer-events:none!important;
    transition:all 250ms ease;
}

.page-menu-background-active{
    opacity:1!important;
    pointer-events:all!important;
    transition:all 250ms ease;
}

.left-circle-menu{
    pointer-events:none;
}
.show-left-circle-menu{
    pointer-events:all!important;
}

.left-circle-menu-1{
    position:fixed;
    left:10px;
    bottom:280px;    
    z-index:9989999;
    text-align:center;
    color:#FFFFFF;
    border:solid 1px rgba(255,255,255,0);
    transition:all 250ms ease;
    width:100px;   
    opacity:0;
}

.left-circle-menu-2{
    position:fixed;
    left:10px;
    bottom:205px;    
    z-index:9998999;
    text-align:center;
    color:#FFFFFF;
    border:solid 1px rgba(255,255,255,0);
    transition:all 250ms ease;
    width:100px;   
    opacity:0;
}

.left-circle-menu-3{
    position:fixed;
    left:10px;
    bottom:130px;
    z-index:9899999;
    text-align:center;
    color:#FFFFFF;
    border:solid 1px rgba(255,255,255,0);
    transition:all 250ms ease;
    width:100px;   
    opacity:0;
}

.left-circle-menu-1 i, .left-circle-menu-2 i, .left-circle-menu-3 i{
    float:left;
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:50px;
}

.left-cricle-menu-active{
    opacity:1!important;
    transition:all 500ms ease;
}

.left-circle-menu-1 strong, .left-circle-menu-2 strong, .left-circle-menu-3 strong{
    color:#1f1f1f;
    position:absolute;
    width:100%;
    text-align:left;
    font-size:16px;
    margin-left:-10px;
}

.left-circle-menu-1 em, .left-circle-menu-2 em, .left-circle-menu-3 em{
    color:#1f1f1f;
    position:absolute;
    width:100%;
    margin-top:24px;
    text-align:left;
    font-style:normal;
    font-size:12px;
    margin-left:-10px;
}


.left-circle-menu-item .fa-mobile{
    font-size:24px;
}

@media(max-width:768px){
    .menu-item{
        width:250px;
        margin-left:auto;
        margin-right:auto;
        left:0px!important;
    }
}

.menu-item{
    left:10px;
    margin-top:50px;  
    z-index:999999;
    text-align:center;
    color:#FFFFFF;
    border:solid 1px rgba(255,255,255,0);
    transition:all 250ms ease;
    height:30px;
}

.menu-item i{
    float:left;
    border:solid 1px rgba(255,255,255,0.2);
    color:#FFFFFF;
    width:55px;
    height:55px;
    line-height:55px;
    border-radius:55px;
    font-size:17px;
}

.menu-item .fa-mobile{
    font-size:200%;
}

.menu-item strong{
    display:block;
    color:#FFFFFF;
    position:absolute;
    text-align:left;
    font-size:16px;
    margin-left:70px;
    width:100%;
    margin-top:3px;
}

.menu-item em{
    display:block;
    color:rgba(255,255,255,0.4);
    position:absolute;
    margin-top:24px;
    text-align:left;
    font-style:normal;
    font-size:12px;
    margin-left:70px;
    width:100%;
}


@media(min-width:768px){    
    .menu-item{
        width:300px;
        height:60px;   
        margin-left:auto;
        margin-right:auto;
    }
        
    .menu-item i{
        float:left;
        border:solid 1px #FFFFFF;
        color:#FFFFFF;
        width:80px;
        height:80px;
        line-height:80px;
        border-radius:50px;
        font-size:24px;
    }

    .menu-item strong{
        display:block;
        color:#FFFFFF;
        position:absolute;
        text-align:left;
        font-size:18px;
        margin-left:100px;
        margin-top:10px;
        width:100%;
    }

    .menu-item em{
        display:block;
        color:rgba(255,255,255,0.7);
        position:absolute;
        margin-top:24px;
        text-align:left;
        font-style:normal;
        font-size:14px;
        margin-left:100px;
        margin-top:35px;
        width:100%;
    }
    
    .submenu{
        padding-top:0px; 
        margin-left:10px;
    }

}

.submenu{
    display:none;
    overflow:hidden;
    width:100%;
    margin-top:0px!important;
    margin-bottom:-20px!important;
}

.active-submenu .submenu{
    display:block;
}

.submenu .menu-item:first-child{
    margin-top:0px;
    padding-bottom:5px;
    padding-top:25px;
}


.submenu .menu-item{
    display:block;
    float:none;
    height:10px;
}

.submenu .menu-item i{
    width:35px;
    height:35px;
    line-height:35px;
    margin-left:10px;
    font-size:15px;
    border:none!important;
}


.submenu .menu-item strong{
    margin-top:3px;
    font-size:14px;
    font-weight:400;
}

.menu-items{
    position:fixed;
    left:0px;
    top:0px;
    right:0px;
    z-index:99999999;
    overflow:hidden;
    pointer-events:none;
    opacity:0;
    transition:all 500ms ease;
}

.menu-items-scroll{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding-bottom:20px;
    margin-top:-30px;
    right: -19px; /* Decrease this value for cross-browser compatibility */
    overflow: auto;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
}

.social-items{
    position:fixed;
    left:0px;
    top:0px;
    right:0px;
    z-index:99999999;
    overflow:hidden;
    pointer-events:none;
    opacity:0;
    transition:all 500ms ease;
}

.social-items-scroll{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding-bottom:20px;
    margin-top:-30px;
    right: -19px; /* Decrease this value for cross-browser compatibility */
    overflow: auto;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
}

.share-items{
    position:fixed;
    left:0px;
    top:0px;
    right:0px;
    z-index:99999999;
    overflow:hidden;
    pointer-events:none;
    opacity:0;
    transition:all 500ms ease;
}

.share-items-scroll{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding-bottom:20px;
    margin-top:-30px;
    right: -19px; /* Decrease this value for cross-browser compatibility */
    overflow: auto;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
}

/*Fix for iOS 10 / 9*/
.activate-items{bottom:0px!important;}

.show-menu-items{
    opacity:1;
    pointer-events:all;
    transition:all 500ms ease;
}

.menu-items-background{
    width:50px;
    height:50px;
    border-radius:1000px;
    position:fixed;
    z-index:9999999;
    top:50%;
    left:50%;
    margin-left:-25px;
    margin-top:-25px;
    transform:scale3d(0,0,0);
    pointer-events:none;
    transition:all 300ms ease;
}

@media(min-width:768px){
    .active-menu-background{
        transform:scale3d(100,100,100)!important;
        transition:all 800ms ease;
    }
}

@media(max-width:768px){
    .active-menu-background{
        transform:scale3d(50,50,50)!important;
        transition:all 500ms ease;
    }
}

.icon-column i{
    color:#FFFFFF;
}

/*Color Scheme*/

/*Blue Scheme*/
.scheme-blue .back-to-top-badge, 
.scheme-blue .share-bottom, 
.scheme-blue .circle-menu-show, 
.scheme-blue .icon-column i, 
.scheme-blue .menu-items-background, 
.scheme-blue .header-fixed, 
.scheme-blue .circle-menu-background, 
.scheme-blue .left-circle-menu-1 i, 
.scheme-blue .left-circle-menu-2 i, 
.scheme-blue .left-circle-menu-3 i{
    background-color:#2980b9;
}

.scheme-blue .active-menu-item i{
    color:#2980b9!important;
}

/*Red Scheme*/
.scheme-red .back-to-top-badge, 
.scheme-red .circle-menu-show, 
.scheme-red .share-bottom, 
.scheme-red .icon-column i, 
.scheme-red .menu-items-background, 
.scheme-red .header-fixed, 
.scheme-red .circle-menu-background, 
.scheme-red .left-circle-menu-1 i, 
.scheme-red .left-circle-menu-2 i, 
.scheme-red .left-circle-menu-3 i{
    background-color:#e74c3c;
}

.scheme-red .active-menu-item i{
    color:#e74c3c!important;
}

/*Orange Scheme*/
.scheme-orange .back-to-top-badge, 
.scheme-orange .share-bottom, 
.scheme-orange .circle-menu-show, 
.scheme-orange .icon-column i, 
.scheme-orange .menu-items-background, 
.scheme-orange .header-fixed, 
.scheme-orange .circle-menu-background, 
.scheme-orange .left-circle-menu-1 i, 
.scheme-orange .left-circle-menu-2 i, 
.scheme-orange .left-circle-menu-3 i{
    background-color:#d35400;
}

.scheme-orange .active-menu-item i{
    color:#d35400!important;
}

/*Green Scheme*/
.scheme-green .back-to-top-badge, 
.scheme-green .circle-menu-show, 
.scheme-green .icon-column i, 
.scheme-green .menu-items-background, 
.scheme-green .header-fixed, 
.scheme-green .circle-menu-background, 
.scheme-green .left-circle-menu-1 i, 
.scheme-green .left-circle-menu-2 i, 
.scheme-green .left-circle-menu-3 i{
    background-color:#27ae60;
}

.scheme-green .active-menu-item i{
    color:#27ae60!important;
}

/*Mint Scheme*/
.scheme-mint .back-to-top-badge, 
.scheme-mint .share-bottom, 
.scheme-mint .circle-menu-show, 
.scheme-mint .icon-column i, 
.scheme-mint .menu-items-background, 
.scheme-mint .header-fixed, 
.scheme-mint .circle-menu-background, 
.scheme-mint .left-circle-menu-1 i, 
.scheme-mint .left-circle-menu-2 i, 
.scheme-mint .left-circle-menu-3 i{
    background-color:#16a085;
}

.scheme-mint .active-menu-item i{
    color:#16a085!important;
}

/*Magenta Scheme*/
.scheme-magenta .back-to-top-badge, 
.scheme-magenta .share-bottom, 
.scheme-magenta .icon-column i, 
.scheme-magenta .menu-items-background, 
.scheme-magenta .header-fixed, 
.scheme-magenta .circle-menu-background, 
.scheme-magenta .left-circle-menu-1 i, 
.scheme-magenta .left-circle-menu-2 i, 
.scheme-magenta .left-circle-menu-3 i{
    background-color:#8e44ad;
}

.scheme-magenta .active-menu-item i{
    color:#8e44ad!important;
}

/*Dark Scheme*/
.scheme-dark .back-to-top-badge, 
.scheme-dark .circle-menu-show, 
.scheme-dark .share-bottom, 
.scheme-dark .icon-column i, 
.scheme-dark .menu-items-background, 
.scheme-dark .header-fixed, 
.scheme-dark .circle-menu-background, 
.scheme-dark .left-circle-menu-1 i, 
.scheme-dark .left-circle-menu-2 i, 
.scheme-dark .left-circle-menu-3 i{
    background-color:#0e141b;
}

.scheme-dark .active-menu-item i{
    color:#0e141b!important;
}


.circle-menu-show {    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes blinker {  
    0% { transform:scale(1.1,1.1); }
    50% { transform:scale(1, 1); }
    100% { transform:scale(1.1,1.1);;  }
}


/*Landing Page Menu*/

/*////////////*/
/*Landing Menu*/
/*////////////*/

.landing-dark .landing-overlay{background-color:rgba(0,0,0,0.8);}
.landing-dark ul li a em{ color:#FFFFFF;}
.landing-dark .deco{ background-color:rgba(255,255,255,0.1)!important;}
.landing-dark .landing-header-logo{ color:#FFFFFF!important;}

.landing-light .landing-overlay{background-color:rgba(255,255,255,0.8);}
.landing-light ul li a em{ color:#000000;}
.landing-light .deco{ background-color:rgba(0,0,0,0.1)!important;}
.landing-light .landing-header-logo{ color:#000000!important;}


.landing-homepage ul {
    padding-left:20px;
    padding-right:20px;
}

.landing-homepage ul li:last-child{
    margin-bottom:40px;
}

.landing-homepage ul li{
    list-style:none;
    margin-bottom:20px;
}

.landing-homepage ul li{
    width:33.3%;
    float:left;
}

.landing-homepage ul li a{
    padding-top:10px;
}

.landing-homepage ul li a i{
    width:65px;
    height:65px;
    font-size:20px;
    line-height:65px;
    text-align:center;
    display:block;
    color:#FFFFFF;
    border-radius:65px;
    margin-left:auto;
    margin-right:auto;
    -webkit-box-shadow: 0 1px 2px 2px rgba(0,0,0,0.10);
            box-shadow: 0 1px 2px 2px rgba(0,0,0,0.10);  
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.landing-homepage ul li a i:hover{
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.landing-homepage ul li a em{
    display:block;
    font-size:14px;
    opacity:0.8;
    font-style:normal;
    text-align:center;
    padding-top:10px;
    font-weight:500;
}

.landing-homepage .fa-mobile{
    font-size:32px!important;
}

.landing-homepage #mynano{
    top:0px!important;    
}

@media(min-width:767px){
    .landing-homepage .deco{
        width:700px;
        margin-left:auto;
        margin-right:auto;
    }
    
    .landing-header{
        width:700px!important;
        margin-left:auto;
        margin-right:auto;
    }
        
    .landing-homepage ul {
        width:700px!important;
        margin-left:auto!important;
        margin-right:auto!important;
    }
    
    .landing-homepage ul li{
        margin-bottom:20px;   
    }
    
    .landing-homepage ul li a em{
        font-size:16px;   
    }
    
    .landing-homepage ul li a i{
        width:100px;
        height:100px;
        line-height:100px;
        font-size:250%;
        margin-bottom:0px;
    }
    
    .landing-homepage .fa-mobile{
        font-size:48px!important;
    }
    
    .landing-homepage .header{
        position:relative;
    }
    
    .landing-homepage .header-clear{
        height:30px;   
    }
}

.landing-header{
    width:100%;
    z-index:98;
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
    margin-bottom:50px;
}

.landing-header-logo{
    width:100px;
    height:30px;
    margin-top:5px;
    float:left;
    font-size:24px;
    font-weight:800;
}

.landing-header-icons{
    height:40px;
    padding-top:5px;
    padding-right:5px;
    width:125px;
    float:right;
    margin-bottom:25px;
}

.landing-header-icons a{
    float:right;
    width:30px;
    height:30px;
    margin-left:10px;
    border-radius:30px;
    line-height:20px;
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -o-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.landing-header-icons a:hover{
    -moz-transform: scale(1.15,1.15)!important;
    -webkit-transform: scale(1.15,1.15)!important;
    -o-transform: scale(1.15,1.15)!important;
    -ms-transform: scale(1.15,1.15)!important;
    transform: scale(1.15,1.15)!important;
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.landing-header-icons a i{
    font-size:10px;
    line-height:30px;
    width:30px;
    text-align:center;
    color:#FFFFFF;
}

.landing-footer-icons a, .landing-footer-icons a i{
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
}

.landing-footer-icons{
    width:265px;
    margin:0 auto;
}

.landing-wrapper{
    position:relative;
    z-index:999;
}

.landing-wrapper .deco{
    height:1px;
    width:100%;
    display:block;
    margin-bottom:20px;
    margin-top:0px;
    clear:both!important;
}

.landing-overlay{
    position:fixed;
    z-index:99;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
}

.background{
    background-position:50% 50%;
    background-size:cover;
    background-image:url(../images/pictures/0.jpg);
    height:100%;
    width:100%;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}






